<div style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
    <div style="display: flex; gap: 1.25rem;">
        @ChildContent
    </div>

    <div style="display: flex; gap: 1rem;">
        <MudIconButton Icon="@Icons.Material.Outlined.AddCircleOutline" Size="Size.Medium" Color="Color.Inherit" OnClick="@Create"/>
        <MudIconButton Icon="@Icons.Material.Outlined.Edit" Size="Size.Medium" Color="Color.Inherit" OnClick="Edit"/>
        @if (Delete is not null)
        {
            <MudIconButton Icon="@Icons.Material.Outlined.Delete" Size="Size.Medium" Color="Color.Inherit" OnClick="Delete"/>
        }
    </div>
</div>

@code {
    [Parameter] public required RenderFragment ChildContent { get; set; }
    [Parameter] public required EventCallback Create { get; set; }
    [Parameter] public required EventCallback Edit { get; set; }
    [Parameter] public Func<Task>? Delete { get; set; }
}